### 1000. A+B

In [ ]:
a, b = map(int, input().split())
print(a + b)

1 2
3

### 1001. A-B

In [ ]:
a, b = map(int, input().split())
print(a - b)

3 2
1

### 2457. 검증수

In [ ]:
a, b, c, d, e = map(int, input().split())

print((a**2 + b**2 + c**2 + d**2 + e**2) % 10)

0 4 2 5 6
1

### 2557. Hello World

In [ ]:
print('Hello World!')

Hello World!

### 10171. 고양이

In [ ]:
print('\\    /\\')
print(' )  ( \')')
print('(  /  )')
print(' \\(__)|')

\    /\
 )  ( ')
(  /  )
 \(__)|

### 10172. 개

In [ ]:
print('|\\_/|')
print('|q p|   /}')
print('( 0 )\"\"\"\\')
print('|\"^\"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

### 10869. 사칙연산

In [ ]:
a, b = input().split()

print(int(a) + int(b))
print(int(a) - int(b))
print(int(a) * int(b))
print(int(int(a) / int(b)))
print(int(a) % int(b))

7 3
10
4
21
2
1

### 10998. AxB

In [ ]:
a, b = map(int, input().split())

print(a * b)

1 2
2

### 11654. 아스키 코드

In [ ]:
a = input()
print(ord(a))

9
57

### 1008. A/B

In [ ]:
a, b = map(int, input().split())
print(a / b)

1 3
0.3333333333333333

### 1330. 두 수 비교하기

In [ ]:
a, b = map(int, input().split())

if a > b:
    print('>')
elif a < b:
    print('<')
else:
    print('==')

1 2
<

### 2753. 윤년

In [ ]:
year = int(input())

if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0):
  print(1)
else:
  print(0)

1999
0

### 9498. 시험 성적

In [ ]:
score = int(input())

if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

100
A

### 2438. 별 찍기 - 1

In [ ]:
n = int(input())

for i in range(1, n+1):
  print('*'*i)

5
*
**
***
****
*****

### 2439. 별 찍기 - 2

In [ ]:
n = int(input())

for i in range(1, n+1):
  print(' '*(n-i)+'*'*i)

5
    *
   **
  ***
 ****
*****

### 2739. 구구단

In [ ]:
n = int(input())

for i in range(1, 10):
  print(n, '*', i, '=', n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 2741. N 찍기

In [ ]:
n = int(input())

for i in range(1, n+1):
  print(i)

5
1
2
3
4
5

### 2742. 기찍 N

In [ ]:
n = int(input())

for i in range(1, n+1):
  print(n + 1 - i)

5
5
4
3
2
1

### 2884. 알람 시계

In [ ]:
h, m = map(int, input().split())

if m >= 45:
  print(h, m-45)
else:
  if h-1 < 0:
    print(24+(h-1), 60+(m-45))
  else:
    print(h-1, 60+(m-45))

0 30
23 45

### 10818. 최소, 최대

In [ ]:
n = int(input())
numbers = list(map(int, input().split()))

print(min(numbers), max(numbers))

5
20 10 35 30 7
7 35

### 10871. X보다 작은 수

In [ ]:
n, x = map(int, input().split())
numbers = list(map(int, input().split()))

for i in range(n):
  if numbers[i] < x:
    print(numbers[i], end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

### 10950. A+B - 3

In [ ]:
t = int(input())
for i in range(t):
  a, b = map(int, input().split())
  print(a + b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

### 10951. A+B - 4

In [ ]:
while True:
  try:
    a, b = map(int, input().split())
    print(a + b)
  except:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

### 10952. A+B - 5

In [ ]:
while True:
    a, b = map(int, input().split())
    if a == 0 and b == 0:
      break
    else:
      print(a + b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

### 1152. 단어의 개수

In [ ]:
print(len(input().split()))

The Curious Case of Benjamin Button
6

### 2562. 최댓값

In [ ]:
numbers = []
for i in range(9):
  numbers.append(int(input()))
print(max(numbers))
print(numbers.index(max(numbers))+1)

3
29
38
12
57
74
40
85
61
85
8

### 2577. 숫자의 개수

In [ ]:
a = int(input())
b = int(input())
c = int(input())

n = str(a * b * c)

for i in range(10):
    cnt = 0
    for j in n:
        if int(j) == i:
            cnt += 1
    print(cnt)

150
266
427
3
1
0
2
0
0
0
2
0
0

### 2675. 문자열 반복

In [ ]:
n = int(input())

for _ in range(n):
    cnt, word = input().split()
    for x in word:
        print(x*int(cnt), end='')
    print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

### 2908. 상수

In [ ]:
a, b = input().split()

print(max(int(a[::-1]), int(b[::-1])))  # 슬라이싱 활용

734 893
437

### 2920. 음계

In [ ]:
nums = list(map(int, input().split()))

asc = [1, 2, 3, 4, 5, 6, 7, 8]
des = list(reversed(asc))

if nums == asc:
    print('ascending')
elif nums == des:
    print('descending')
else:
    print('mixed')

8 7 6 5 4 3 2 1
descending

### 3052. 나머지

In [ ]:
nums = []

for _ in range(10):
    num = int(input()) % 42
    nums.append(num)
print(len(set(nums)))

1
2
3
4
5
6
7
8
9
10
10

### 8958. OX퀴즈

In [ ]:
t = int(input())

for _ in range(t):
    score, _sum = 0, 0
    ox = input()
    
    for i in ox:
        if i == 'O':
            score += 1
            _sum += score
        else:
            score = 0
    print(_sum)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

### 10809. 알파벳 찾기

In [ ]:
word = input()
alphabet = list(range(97, 123))  # 아스키코드 숫자 범위

for x in alphabet:
    print(word.find(chr(x)), end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 11720. 숫자의 합

In [ ]:
t = int(input())
nums = input()
_sum = 0

for i in nums:
    _sum += int(i)
print(_sum)

5
54321
15

### 1157. 단어 공부

In [ ]:
word = input().upper()
word_list = list(set(word))
cnt = []

for i in word_list:  # 각 문자별 개수 세기
    count = word.count
    cnt.append(count(i))

if cnt.count(max(cnt)) > 1:
    print('?')
else:
    print(word_list[(cnt.index(max(cnt)))])

Mississipi
?

### 1546. 평균

In [ ]:
n = int(input())
score = list(map(int, input().split()))
max_score = max(score)
new_list = []

for i in score:
    new_list.append(i/max_score*100)
avg = sum(new_list) / n
print(avg)

3
40 80 60
75.0